<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dh.ms.mapper.uav.UavCameraStateMapper">

    <resultMap id="BaseResultMap" type="com.dh.ms.uav.entity.UavCameraState">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="VARCHAR"/>
            <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
            <result property="cameraId" column="camera_id" jdbcType="VARCHAR"/>
            <result property="cameraUrl" column="camera_url" jdbcType="VARCHAR"/>
            <result property="cameraAccessToken" column="camera_access_token" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category_id,category_name,
        camera_id,camera_url,camera_access_token,
        is_deleted,gmt_create,gmt_modified
    </sql>
</mapper>
