<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dh.ms.mapper.PedalFixedParamMapper">

    <resultMap id="BaseResultMap" type="com.dh.ms.pojo.PedalFixedParam">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="bluetoothMacAddress" column="bluetooth_mac_address" jdbcType="VARCHAR"/>
            <result property="pedalModel" column="pedal_model" jdbcType="VARCHAR"/>
            <result property="outputBlockCurrent" column="output_block_current" jdbcType="VARCHAR"/>
            <result property="inputBlockCurrent" column="input_block_current" jdbcType="VARCHAR"/>
            <result property="guardTime" column="guard_time" jdbcType="VARCHAR"/>
            <result property="lowVoltageLowerLimit" column="low_voltage_lower_limit" jdbcType="VARCHAR"/>
            <result property="lowVoltageUpperLimit" column="low_voltage_upper_limit" jdbcType="VARCHAR"/>
            <result property="startVoltageLowerLimit" column="start_voltage_lower_limit" jdbcType="VARCHAR"/>
            <result property="startVoltageUpperLimit" column="start_voltage_upper_limit" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,bluetooth_mac_address,pedal_model,
        output_block_current,input_block_current,guard_time,
        low_voltage_lower_limit,low_voltage_upper_limit,start_voltage_lower_limit,
        start_voltage_upper_limit,is_deleted,gmt_create,
        gmt_modified
    </sql>

</mapper>
