<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dh.ms.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.dh.ms.pojo.entity.SysMenu">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="perm" column="perm" jdbcType="VARCHAR"/>
            <result property="visible" column="visible" jdbcType="TINYINT"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="redirectUrl" column="redirect_url" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,name,
        type,path,component,
        perm,visible,sort,
        icon,redirect_url,create_time,
        update_time
    </sql>

<!--    获取角色权限集合-->
<!--    DISTINCT返回不重复字段的条数-->
    <select id="listRolePerms" resultType="java.lang.String">
        SELECT
            DISTINCT t1.perm
        FROM
            sys_menu t1
                INNER JOIN sys_role_menu t2
                INNER JOIN sys_role t3
        WHERE
            t1.type = '${@com.dh.ms.common.enums.MenuTypeEnum@BUTTON.getValue()}'
            AND
                t1.perm IS NOT NULL
            AND
                t3.`code` IN
                    <foreach collection="roles" item="role"  open="(" separator="," close=")">
                        #{role}
                    </foreach>
-- choose 标签作用是通过条件判断来拼接SQL语句，类似于Java中的switch语句
-- 从上到下，当有匹配的条件时，跳出choose语句
-- 如果所有条件都不成立则执行otherwise标签中的内容
-- test里的是条件语句

-- collection 迭代集合的名称
-- item	 表示本次迭代获取的元素，若collection为List、Set或者数组，则表示其中的元素
-- open 表示该语句以什么开始，最常用的是左括弧’(’

-- 因为在SysUserServiceImpl.java getUserAuthInfo里已经对roles做了非空判断 所以这里的代码不用
<!--        <choose>-->
<!--            <when test="roles!=null and roles.size()>0">-->
<!--                AND t3.`code` IN-->
<!--                <foreach collection="roles" item="role" separator="," open="(" close=")">-->
<!--                    #{roles}-->
<!--                </foreach>-->
<!--            </when>-->
<!--            <otherwise>-->
<!--                AND t1.id = -1-->
<!--            </otherwise>-->
<!--         </choose>-->
    </select>

    <!-- 菜单路由映射 -->
    <resultMap id="RouteMap" type="com.dh.ms.pojo.bo.RouteBO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="redirectUrl" column="redirect_url" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="visible" column="visible" jdbcType="BOOLEAN"/>
<!--        mybatis获取数据转换成实体类时，当实体类中存在枚举类型的属性（数据库中以数字格式存放）-->
<!--         在map.xml文件中添加ResultMap配置，对需要枚举转换的字段配置特定的转换类EnumOrdinalTypeHandler-->
        <result property="type" column="type" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <collection property="roles" ofType="string" javaType="list">
            <result column="code"/>
        </collection>
    </resultMap>

    <!-- 获取路由列表 -->
    <select id="listRoutes" resultMap="RouteMap">
        SELECT
            t1.id,
            t1.`name`,
            t1.parent_id,
            t1.path,
            t1.component,
            t1.icon,
            t1.sort,
            t1.visible,
            t1.redirect_url,
            t1.type,
            t3.`code`
        FROM
            sys_menu t1
                LEFT JOIN sys_role_menu t2 ON t1.id = t2.menu_id
                LEFT JOIN sys_role t3 ON t2.role_id = t3.id
        WHERE
            t1.type != '${@com.dh.ms.common.enums.MenuTypeEnum@BUTTON.getValue()}'
        ORDER BY t1.sort asc
    </select>
</mapper>
